################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chat.API/bin
/Chat.API/obj
/Chat.Domain/obj
/Chat.Domain/bin
/Chat.DataAccess/obj
/Chat.DataAccess/bin
/SignalR/obj
/SignalR/bin
